    <!-- ================= ADMIN AUTH PAGE ================= -->
    <div id="adminAuthPage" style="display:none;" class="create-page">
      <div class="create-card">
        <button id="closeAdminAuthBtn" class="close-btn">✕</button>
        <h2>Admin Login</h2>
        <div class="form-group">
          <label>Enter Admin Password</label>
          <input type="password" id="adminAuthPassword" />
          <div class="error" id="adminAuthError"></div>
        </div>
        <button id="submitAdminAuthBtn" class="primary-btn">Login</button>
      </div>
    </div>
