.menu-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: black;
  color: white;
}

.app-title {
  font-size: 64px;
  font-weight: 800;
}

.app-subtitle {
  margin-top: -80px;
  font-size: 40px;
  font-weight: 700;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.menu-btn {
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 600;
  border: 2px solid white;
  color: white;
  transition: all 0.2s ease;
}

.menu-btn:hover {
  background: white;
  color: black;
}
