body {
  margin: 0;
}

.menu-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: white;
  background: url("../media/bk.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  animation: backgroundScroll 60s ease-in-out 1s infinite;
  position: relative;
  overflow: hidden;
}

.menu-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* dark overlay */
  z-index: 0;
}

.menu-page > * {
  position: relative;
  z-index: 1;
}

.app-title {
  font-size: 64px;
  font-weight: 800;
}

.app-subtitle {
  margin-top: -80px;
  font-size: 40px;
  font-weight: 700;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.menu-btn {
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 600;
  border: 2px solid white;
  color: white;
  transition: all 0.2s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu-btn:hover {
  background: white;
  color: black;
}

@keyframes backgroundScroll {
0% { background-position: 50% 50%; }
33% { background-position: 1% 50%; }
40% { background-position: 1% 50%; }
66% { background-position: 99% 50%; }
75% { background-position: 99% 50%; }
100% { background-position: 50% 50%; }}
/* added pauses to each edge of the image */